<div class="logInFrm">
  <form action="" class="form" [formGroup]="formLogin">
    <h1 class="title">Log In</h1>

    <div class="inputContainer">
      <input type="text" class="input" placeholder="a" formControlName="email">
      <label  class="label">Email</label>
    </div>

    <div class="inputContainer">
      <input type="text" class="input" placeholder="a" formControlName="password">
      <label  class="label">Password</label>
    </div>


    <input type="submit" class="submitBtn1" value="Cancel">
    <input type="submit" class="submitBtn" value="LogIn" (click)="signIn()">





  </form>
</div>
