<div class="logInFrm" *ngIf="formLogin">
  <form action="" class="form">
    <h1 class="title">Log In</h1>

    <div class="inputContainer">
      <input type="text" class="input" placeholder="a" formControlName="email">
      <label  class="label">Email</label>
    </div>

    <div class="inputContainer">
      <input type="text" class="input" placeholder="a" formControlName="password">
      <label  class="label">Password</label>
    </div>
    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>

    <input type="submit" class="submitBtn1" value="Cancel">
    <input type="submit" class="submitBtn" value="LogIn" (click)="signIn()">

    <span class="psw">Forgot <a href="#">password?</a></span>
    <span class="psw1"><a >Sign Up</a></span>


  </form>
</div>
