
<div class="order" >
  <form action="" class="form" [formGroup]="formOrder">
    <h1 class="title">Order</h1>

      <div class="inputContainer add-medic" formArrayName="drug">


      <div *ngFor="let drug of drugs?.controls;let i=index">

          <input type="text" class="input-medic"  [formControlName]="i"><br><br><br>



      </div>


    </div>
    <input type="submit" class="submitBtn1" value="Enter medicament" (click)="addMedicament()">
    <input type="submit" class="submitBtn" value="Send" (click)="send()">
  </form>
</div>

