<div class="signupFrm" *ngIf="profileForm">
  <form action="" class="form" [formGroup]="profileForm">
    <h1 class="title">Sign up</h1>

    <div class="inputContainer">
      <input type="text" class="input" placeholder="a" formControlName="name">
      <label  class="label">Name</label>
    </div>
     <div class="inputContainer">
      <input type="email" class="input" placeholder="a" formControlName="email" >
      <label  class="label">Email</label>
    </div>

    <div class="inputContainer">
      <input type="password" class="input" placeholder="a" formControlName="password">
      <label  class="label">Password</label>
    </div>

    <div class="inputContainer">
      <input type="text" class="input" placeholder="a" formControlName="city" >
      <label  class="label">City</label>
    </div>
    <div class="inputContainer">
      <input type="number" class="input"  formControlName="id" min="1" max="200">
      <label  class="label">Id</label>
    </div>
    <div class="inputContainer">
      <input type="text" class="input" placeholder="a" formControlName="type">
      <label  class="label">Type</label>
    </div>
    <input type="submit" class="submitBtn1" value="Cancel">
    <input type="submit" class="submitBtn" value="Sign up" (click)="save()">
  </form>
</div>
