<nav class="navbar navbar-expand-sm  navbar-dark navig">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" [routerLink]="['/list']"><img src="assets/images/logo.jpg" style="width: 80px;height: 80px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/list']" routerLinkActive="active">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active"><span class="fa fa-user"></span>Logout</a>
        </li>
      </ul>


    </div>
  </div>


</nav>

